blinker
certifi
chardet
charset-normalizer
click
contourpy
cycler
filelock
Flask
fonttools
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
mpmath
networkx
nltk
numpy
packaging
pillow
pyparsing
python-dateutil
python-docx
PyYAML
regex
reportlab
requests
safetensors
setuptools
six
sympy
textblob
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
